.main {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
    height: 80vh;
}

.main-coin {
    width: 70%;
    border: 1px solid black;
}

.main-coinlist{
    border: 1px solid black;
    width: 30%;
    overflow: hidden;
}