.coinlist-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.coinlist-main {
    height: 100%;
}

.coinlist-header button {
    width: 30%;
    background-color: #fff;
    border: none;
    border-radius: none;
    padding: 10px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.coinlist-list {
    height: 100%;
    overflow: scroll;
}

.coinlist-list::-webkit-scrollbar {
    width: 5px;
}

.coinlist-list::-webkit-scrollbar-track {
    display: none;
}

.coinlist-list::-webkit-scrollbar-thumb {
    background-color: #888;
}

.coinlist-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}