*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}
.Main_container{
    display: flex!important;
    gap: 50px!important;
    width: 100%!important;
    height: 100vh!important;
    overflow: none!important;
}

.Sidebar_container{
    max-width: 200px;
    height: 790px!important;
}
