
.Sidebar_container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* border-right: 1px solid grey; */
  overflow: hidden;
  background-color: #fff!important;
  border-right: 2px solid rgba(128, 128, 128, 0.696);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

}

.user_profile {
  font-style: oblique;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_profile > span {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
  user-select: none;
  cursor: pointer;
}

.App_name_container > span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 10px;
  background-clip: text;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(144deg, #8608b4, #492fed 60%, #bd6fda);

  font-family: "Nunito", sans-serif;
}

.Side_bars {
  display: flex;
  position: relative;
  top: -85px;
  flex-direction: column;
  gap: 20px;
  
  align-items: center;
}

.user_pic{
  border-radius: 50%;
}

.Side_bars > a {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  padding-left: 35px!important;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-family: "Chivo Mono", monospace;
  position: static;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  color: rgba(76, 75, 75, 0.658);
  margin-bottom: 3px;
}

.Side_bars > a:hover {
  transition: 0.2s;
  color: #fff;
  background-color: rgba(37, 47, 43, 0.366);
}

.dashboard{
  position: relative;
  top:4px
}

.nav-hide{
  padding-left: 15px;
}

.Side_bars > a::backdrop{
  position: relative;
  transition: 0.5s;
  scale: 1;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.326);
}
.active{
  border-bottom: 4px solid rgba(119, 136, 153, 0.2);
  color: rgb(45, 21, 21)!important;
  background-color: rgba(119, 136, 153, 0.2);
} 

.theme-setter{
  grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.theme-setter > svg:hover{
 cursor: pointer; 
}

@media (width <= 1535px){
  .nav-hide{
    display: none!important;
  }
  .App_name_container > span{
    display: none;
  }
  .Side_bars > a {
    justify-content: center;
    padding-left: 13px!important;
  }
}